<!DOCTYPE html>
<html
        lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카테고리 별 최저 가격</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="content">
    <div class="header">Welcome to Our Home Page</div>
    <table id="product-table">
        <thead>
        <tr>
            <th>카테고리</th>
            <th>브랜드</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="total">총액</td>
            <td class="total" id="total-price">0</td>
        </tr>
        </tfoot>
    </table>
    <a href="#" th:href="@{'/home'}">홈으로</a>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/client/categories/min-price',
                method: 'GET',
                success: function (data) {
                    var totalPrice = data.totalPrice;
                    var tableBody = $('#product-table tbody');
                    tableBody.empty();

                    data.categoryMinPriceDtos.forEach(function (product) {
                        var row = $('<tr></tr>');
                        row.append('<td>' + product.categoryType + '</td>');
                        row.append('<td>' + product.brandName + '</td>');
                        row.append('<td>' + product.price.toLocaleString() + '</td>');
                        tableBody.append(row);
                    });
                    $('#total-price').text(totalPrice.toLocaleString());
                },
                error: function (error) {
                    console.error("Error fetching data: ", error);
                }
            });
        });
    </script>
</div>
</body>
</html>