<!DOCTYPE html>
<html
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="menu">
    <li sec:authorize="hasRole('CLIENT')">
        <a href="/categories" id="categories-min-price">카테고리 별 최저 가격 브랜드</a>
        <a href="/brand-min-price" id="brand-min-price">최저 가격 브랜드</a>
        <a href="/categoryType-min-max-price" id="categoryType-min-max-price">카테고리 최저,최고 가격</a>
    </li>
    <li sec:authorize="hasRole('ADMIN')">
        <a href="/admin">상품 리스트 조회</a>
    </li>
</div>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <p>Hello, <span th:text="${#authentication.name}"></span>!</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="로그아웃"/>
    </form>
</div>
</body>
</html>